/* Social media icon animations from: https://codepen.io/sanketbodke/pen/LYymbRq */

.social-menu ul{
    counter-increment: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    counter-increment: none;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    counter-increment: none;
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li::before{
    content:unset;
}

.social-menu ul li a{
    counter-increment: none;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}