@import url('../node_modules/font-awesome/css/font-awesome.min.css');

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

@font-face {
  font-family: 'Elianto';
  src: url('../assets/fonts/elianto-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/elianto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
    --spacing: 350px;
  
    font-family: 'Elianto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
  
h1, h2, h3, blockquote {
  font-family: 'Elianto', sans-serif;
  font-weight: 500;
  font-style: normal;
}
  
header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 9;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

a {
  color: inherit;
  text-decoration: none;
}

.inline-link {
  background:
    linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

blockquote {
  margin: 50px;
  padding: 0;
  grid-column: 1 / span 12;
  
  margin-bottom: var(--spacing);
  font-size: 2rem;
}

blockquote p {
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

/* List */
ul {
  counter-reset: index;  
  padding: 0;
  /* max-width: 300px; */
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  
  border-top: 1px solid rgba(255,255,255,0.2);
}


.subtitle {
  color: rgb(255, 255, 255);
  /* font-size: 2rem;
  font-weight: 400; */
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-scroll] {
  transition: all 2s;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}

body {
  margin: 0;
  padding: 0;
}

/* For desktop: */
h1 {
  font-size: 2.5em;
}

/* For tablet: */
@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }
}

/* For mobile: */
@media (max-width: 480px) {
  h1 {
      font-size: 1.5em;
  }
}